{% extends './layout.html' %}
{% block content %}
  <form action='/users' method='POST'>
    <div class='form-group'>
      <label>Username</label>
      <input class='form-control' name='name' placeholder='Please enter a username'></input>
    </div>
    <button class='btn btn-default'>Create User</button>
  <ul class='list-group'>
    {% for user in users %}
      <li class='list-group-item' href='/users/{{user.id}}'>
        {{ user.name }}
        <form method='POST' action='/users/{{user.id}}?_method=DELETE'>
          <button class='btn btn-danger'>Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>
</form>
{% endblock %}
